<!DOCTYPE html>
<html>

<head>
  <title>Gems</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
</head>

<body>
  <div class="wrapper">
    <div class="box-a">
      <img src="https://imgur.com/6tX08y3.png">
      <% if (!user) { %>
      <a href="/auth/google" id="user-login"> <span class="lnr lnr-users"></span> Login With Google</a>
      <% } else { %>
      <a href="/logout" id="user-logout"> <span class="lnr lnr-users"></span> Logout</a>
      <% } %>
    </div>
    <div class="box-b">
      <div class="box-b-wrapper">
        <p class="box-b-text"><span class="lnr lnr-home"></span> Home </p>
        <p class="box-b-text"> <span class="lnr lnr-briefcase"></span> Collection</p>
        <p class="box-b-text"> <span class="lnr lnr-magic-wand"></span> Feeling Mystical</p>
        <p class="box-b-text"> <span class="lnr lnr-plus-circle"></span> Create A Crystal</p>
        <p class="box-b-text"><span class="lnr lnr-diamond"></span> Search </p>
      </div>
    </div>
    <div class="box-c">
      <div class="d1">D</div>
      <div class="d2">E</div>
      <div class="d3">F</div>
      <div class="d4">G</div>
      <div class="d1">H</div>
      <div class="d2">I</div>
      <div class="d3">J</div>
      <div class="d4">G</div>
      <div class="d1">H</div>
      <div class="d2">I</div>
      <div class="d3">J</div>
      <% gems.forEach(function(m) { %>
      <div class="d1">
          <tr><%= m.Name %> </tr>
          <tr><%= m.Chakras %> </tr>
          <tr><%= m.Zodiac %> </tr>
      </div>
      <% }); %>
    </div>
  </div>
</body>

</html>