* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}


#diamond {
  background-color: white;
  padding-top: 3px;
  padding-bottom: 4px;
}

#diamond:hover {
  color: teal;
  font-weight: 1000px;

}

a {
  color: rgb(85,85,85); 
  text-decoration: none;
}

#gemtitle {
  border: 2px solid red;
  border-radius: 25px;
}



img {
  max-height: 75%;
  max-width: 75%;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 10px;
  border-style: solid;
  border-color:	rgb(232,232,232);
  box-shadow: 0px 5px 30px 0px rgb(208,208,208);
}

#titleimg {
  max-height: 75%;
  max-width: 75%;
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 0px;
  border-style: none;
  border-color: none;
  box-shadow: none;
}


.wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 5px;
  height: 100vh;
}

.box-a {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color:  rgb(255, 255, 255);
  box-shadow: 0px 5px 30px 0px rgb(208,208,208);
  color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-login {
  margin-right: 10px;
}

.box-b {
  grid-column: 1/2;
  grid-row: 2/3;  
  background-color: rgb(255, 255, 255)
  color: #444;
  box-shadow: 5px 10px 30px 0px rgb(208,208,208);
}

.box-b-wrapper {
  margin-left: 15px;
  margin-top: 30px;
}

.box-b-text {
  padding-top: 15px;
}

.box-c {
  margin-top: 5px;
  margin-left: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgb(242, 244, 247);
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: scroll;
}

.d1 {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  height: 250px;
  width: 225px;
  background-color:	rgb(240,240,240);
  box-shadow: 0px 5px 30px 0px rgb(208,208,208);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.d1:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

input {
  font-size: 15px;
  color: black;
  width: 150px;
}

button {
  margin-top: 15px;
  font-size: 17px;
  margin-left: -.5%;
  border: none;
  background-color:	rgb(240,240,240);
}

#like, #likesubmit {
  margin: 0;
  padding: 0;
  height: 17px;
  width: 17px;
}

#heart {
  font-weight: 900;
  color: teal;
  background-color:	rgb(240,240,240);
  margin-bottom: 0px;
  padding: 0;
}

#heart:hover {
  color: teal;
}

.box-create {
  margin-top: 5px;
  margin-left: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgb(242, 244, 247);
  color: black;
  overflow-y: scroll;
}

.create1 {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 70%;
  height: 500px;
  width: 400px;
  background-color:	rgb(240,240,240);
  box-shadow: 0px 5px 30px 0px rgb(208,208,208);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#titlecard {
  background-color: teal;
  height: 100px;
  width: 400px;
  font-size: 24px;
}

#titletext {
  color: white;
  font-weight: 800;
  text-align: left;
  margin-top: 31px;
  margin-left: 20px;
}

#formfield {
  text-align: right;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 50px;
}

#selectzodiac {
  width:  155px;
}

#addcrystal {
  margin-right: 11px;
}

br {
  height: 10px;
  line-height: 22px;
}

.review1 {=
  height: 500px;
  width: 400px;
  background-color:	rgb(240,240,240);
  box-shadow: 0px 5px 30px 0px rgb(208,208,208);
}

a:hover {
  font-weight: 800;
}

.gemtitle {
  color: teal;
}  

.show1 {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 70%;
    height: 500px;
    width: 400px;
    background-color:	rgb(240,240,240);
    box-shadow: 0px 5px 30px 0px rgb(208,208,208);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }